html {
  box-sizing: border-box
}
  
  /* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
  box-sizing: inherit;
}
  
body {
  background: url(../images/day-desert.jpeg) white;
  background-size: cover;
  display: flex;
  font-family: sans-serif;
  margin: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  --squares-bg-color: lightgray;
  --squares-border: 2px solid black;
  --hud-bg-color: lightgray;
  --hud-border:2px solid black;
  --count-bg-color: black;
  --difficulty-btn-bg-color: lightgray
}

body.dark {
  background: url(../images/night-desert.jpeg);
  /* background: url(../images/night-oasis.png); */
  background-color: navy;
  background-size: cover;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  --squares-bg-color: black;
  --squares-border: 2px solid lightgray;
  --hud-bg-color: black;
  --hud-border:2px solid lightgray;
  --count-bg-color: lightgray;
}

section#hud {
  background-color: var(--hud-bg-color);
  border: var(--hud-border);
  /* background-color: lightgrey; */
  display: flex;
  flex: 25% 25% 25% 25%;
  width: 65vmin;
  height: 12.5vmin;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* border: 2px solid black; */
  border-bottom: 1px;
  font-size: 4vmin;
}

section.board {
  display: grid;
  /* grid-template-rows: repeat(10, 7.5vmin);
  grid-template-columns: repeat(10, 7.5vmin); */
  grid-gap: 0vmin;
}
  
.squares {
  background-color: var(--squares-bg-color);
  /* background-color: lightgrey; */
  border: var(--squares-border);
  /* border: 1px solid black; */
  /* font-size: 7vmin; */
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

#reset {
  margin: 4.5vmin 7vmin;
  height: 6vmin;
  width: 6vmin;
  font-size: 2vmin;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#flag-count {
  background-color: var(--count-bg-color);
  /* background-color: black; */
  /* border: 1px solid black; */
  color: red;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 6vmin;
  width: 12vmin;
  text-shadow: black;
  font-weight: bolder;
}

/* #end-game-message {
  text-align: center;
  color: white;
} */

/* #replay-message {
  text-align: center;
  color: white;
} */

#difficulty {
  display: flex;
  flex-direction: column;
}

.difficulty-btn {
  margin: 10px 0;
  height: 30px;
  /* background-color: var(--difficulty-btn-bg-color); */
}

#intro-light-dark-btn {
  width: 100px;
}

#game-light-dark-btn {
  height: 6vmin;
  width: 6vmin;
}

img {
  height: 100px;
  width: 100px;
}

/* #end-section {

} */